* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
/*Responsive design for mobile devices*/
@media screen and (max-width: 600px) {
  *{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }

  html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #E8F6F3;
  }
/*
  .statusBarContainer {
    margin-top: 5px;
    width: 100%;
    background-color: #ddd;
  }

  .statusBarMove {
    width: 1%;
    height: 30px;
    background-color: #4CAF50;;
  }*/

  /*Color classes*/

  .color-red {
    color: red;
  }

  .color-blue {
    color: blue;
  }

  .color-green {
    color: green;
  }

  .right-align {
    float: right;
    margin: auto;
    padding: 10px;
  }

  /*Bottom button styles*/

  .bottom-buttons {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    border-radius: 12px;
    border: 2px solid #c0f9ec;
    width: 40%;

    margin: 2px 0px 2px 0px;
  }

  .bottom-buttons:hover {
    background-color: #c0f9ec;
    color: white;
  }

  .bottom-bar {
    background-color: #EAE8E8;
  }

  /*Tab bar and navigation styles*/

  .tabbar{
    width:100%;
    height:5vh;
    font-size: 130%;
  }

  .nav li {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  .nav li a{
    color: #585858;
  }

  .nav-bar-title {
    background-color:#e6e6e6;
    margin:0;
    color: #333333;
    padding: 10px 0 10px 0;
    text-align: center;
    width: 100vw;
    height:100%;
    border-bottom: 1px solid gray;

  }

  .img-centered{
    display: block;
    margin: auto;
    width: 10%;
    padding: 10px;
  }

  .centered{
    /*background-color: none;*/
    margin: auto;
    width: 100%;
    /*padding: 1px;*/
    text-align: center;
  }

  .login-box {
    width: 100%;
  }

  .login-input {
    border: 1.5px solid #117A65;
    height: 40px;
    width: 60%;
    padding: 2px;
    margin: 4px;
  }

  .login-input:focus {
    background-color: #c0f9ec;
    opacity: 0.8;
    color: black;
  }

  .or{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }

  .titleline{
    display:block;
    margin:auto;
    padding-top: 10vh;
    width: 60%;
    text-align: center;
    color: #117A65;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-bottom: 3px solid #117A65
  }

  .general-input {
    border: 1.5px solid #009999;
    height: 20px;
    width: 60px;
    padding: 2px;
    margin: 4px;
  }

  .general-input:focus {
    background-color: #c0f9ec;
    opacity: 0.8;
    color: black;
  }

  /*main page tab bar*/
  .tab-bar{
    position: fixed;
    bottom: 0;
    height: 9%;
    width: 100vw;
    background-color: #e6e6e6;
    border-top: 1px solid gray;
  }

  .tab-button{
    width: 49%;
    height:100%;
    padding: 4%;
    background-color: #e6e6e6;
    color: #8c8c8c;
    border: none;
  }

  .tab-selected{
    color: #0066ff;
    text-shadow: 0px 0px 1px hsla(0,0%,0%,.3);
  }

  /*loading page*/
  #loading-page{
    text-align: center;
  }

  #loading-page img{
    width: 40vw;
    height: auto;
    display: block;
    margin: auto;
  }

  /*Control board items*/
  .tab-content{
    margin-top: 4vh;
    position: absolute;
  }

  #control-device-name{
    margin:0;
    color: #009999;
    font-size: 130%;
    padding: 3%;
  }

  .control-buttons {
    width: 100%;
    /*height: 20%;*/
    border: 0px;
    box-shadow: inset 0 0 15px #666666;
    background-color: #2ECC71;
  }

  .control-buttons:active{
    box-shadow: inset 0 0 15px #82E0AA;
    background-color: #28B463;
  }

  #close-up-button {
    background-image: url( 'img/up-arrow.png' );
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40vw;
    height: 27vh;
    width: 100vw;
  }

  #status-indicator{
    /*background-image: url( 'img/sunny.png' );*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30vw;
    height: 27vh;
    width: 100vw;
  }

  #close-down-button{
    width: 100%;
    height: 20%;
    border: 0px;
    box-shadow: inset 0 0 15px #666666;
    background-color: #2ECC71;
    background-image: url( 'img/down-arrow.png' );
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40vw;
    height: 27vh;
    width: 100vw;
  }

  #close-down-button:active{
    box-shadow: inset 0 0 15px #82E0AA;
    background-color: #28B463;
  }

  .control-button-selected{
    background-color: #E8F6F3;
    box-shadow: none;
  }

  .timers{
    background-color: #2ECC71;
    margin: 0;
    padding: 0;
    font-size: 110%;
    color: #117A65;
    text-align: center;
  }

  .timer-items{
    height: 7vh;
    width: 100vw;
    /*padding:3%;*/
    color: white;
    text-align: left;
    border-bottom: 1px solid #EEEEEE;
  }

  .timer-item-links{
    color: white;
    margin-top: 10%;
    list-style-type: none;
    text-decoration: none;
    /*height: 7vh;*/
  }

  .timer-names{
    float: left;
    margin: 3%;
    color: black;
  }

  .timer-indicators{
    float: right;
    margin: 3%;
    color: black;
  }

  .timer-item-pickers{
    background-color: #E8F6F3;
    margin: 0;
    height: 54vh;
    width: 100%;
    border-bottom: 1px solid #EEEEEE;
  }

  .time-picker-content{
    padding: 10%;
  }

  .time-input-fields{
    background-color: #D5F5E3;
    width: 30vw;
    height: 7vh;
    color: #117A65;
    text-align: center;
    font-size: 130%;
    display: block;
    margin: auto;
    border: none;
    radius: 3px;
  }

  .radio-pickers{
    color: #117A65;
    width: 40vw;
    text-align: left;
    display: block;
    margin: auto;
    padding-top: 5vh;
  }

  .submit-buttons{
    width: 70vw;
    height: 7vh;
    color: white;
    display: block;
    margin: auto;
    border: none;
    box-shadow: inset 0 0 10px #28B463;
    background-color: #2ECC71;
  }

  .medium-buttons{
    width: 33vw;
    margin: 0 2vw 0 2vw;
    display: initial
  }

  .cancel-buttons{
    background-color: #F87460;
    box-shadow: inset 0 0 10px #D25440;
  }

  #image {
    max-height: 40%;
    margin: 1% 0 2% 0;
  }

  .panel-body{
    font-size: 120%;
  }

  .control-div{
    margin: 1% 0 0% 0;
  }

  .time-div{
    margin: 1% 0 2% 2%;
  }

  .time-input{
    width: 60px;
  }

  #auto-submit{
    margin-top:2%;
  }

  .temperature-form {
    margin: 1% 0 2% 2%;
  }

  input [type="text"]{
    border: 1px solid #000000;
    font-size: 24px;
  }

  input [type="number"]{
    border: 1px solid #000000;
    font-size: 24px;
  }

  /* CSS for the embed video */
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .curr-status{
    color: blue;
    padding-bottom: 2%;
    border-bottom: 1px solid gray;
    margin-bottom: 2%;
  }

  #notif-time{
    padding-bottom: 2%;
    border-bottom: 1px solid gray;
    margin-bottom: 2%;
  }

  #notif-options ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 2% 0;
  }

  #nav-bar{
    display:none;
  }

  #loading-message{
    display:block;
    margin: auto;
    text-align: center;
    padding: 2%;
  }

  .range-pickers{
    width: 280px;
    margin: 0 auto;
  }

  .timer-item-pickers > div > label > img {
    height: 10vh;
    width: auto;
    margin: 0 5vw;
    padding: 3%;
  }

  .timer-item-pickers > div > label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }

  .timer-item-pickers > div > label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    /*border:2px solid transparent;*/

  }

  .timer-item-pickers > div > label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    /*border:2px solid #2ECC71;*/
    border-radius: 10%;
    background-color: #D6EAF8;
  }
}
